.card:hover .card-footer{
    display: block;
}

.card:hover {
    transition: all 0.2s ease-in-out;
    scale: 1.08;
    border-width: 4px !important;
}

.card {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}