
.card-title{
    display: none;
    user-select: none;
}

.card:hover .card-title{
    display: block;
    transform: translate(0, -46px);
    border: 1px solid black;
    border-radius: 5px;
    background-color: #838383fd;
}

.card:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
    background-color: #838383fd !important;
    border: 1px solid black;
}

.card {
    cursor: pointer;
    user-select: none;
}