
.card-footer, .card-header {
    user-select: none;
    font-weight: bold;
}

.card:hover .card-footer{
    display: block;
}

.card:hover {
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    background-color: #6c757d !important;
    border: 1px solid black;
}

.card {
    cursor: pointer;
    user-select: none;
}